.button {
  color: var(--gold);
  font-size: 0.95rem;
  text-decoration: none;

  &:hover &__arrow-icon {
    transform: translateX(4px);
  }

  &__arrow-icon {
    transition: transform 100ms;
  }
}
