@use '../../styles/utils/breakpoint' as *;

.back-button {
  padding: 1rem 2rem;
  background-color: var(--main-grey);
  color: var(--gold);
  font-size: 1.4rem;
  border-radius: 20px 40px;
  inset: 0% 45% 0% 45% round 10px;
  margin-bottom: 2em;
  cursor: pointer;
}

.container {
  @include breakpoint('medium') {
    display: flex;
  }
}

.joke-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.status {
  display: flex;
  align-items: center;

  &--trending {
    color: var(--trending-color);

    &::before {
      background-color: var(--trending-color);
    }
  }

  &--popular {
    color: var(--popular-color);

    &::before {
      background-color: var(--popular-color);
    }
  }

  &--epic {
    color: var(--epic-color);

    &::before {
      background-color: var(--epic-color);
    }
  }

  &::before {
    content: '';
    display: block;
    margin-right: 0.5em;
    width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

.joke-details-wrapper {
  flex-grow: 1;
}

.joke-details {
  border: 1px solid var(--white-three);
  background-color: var(--white-two);
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;

  &__title {
    color: var(--gold);
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    font-size: 2rem;
    font-weight: 600;

    &::before {
      content: '';
      display: block;
      height: 1px;
      background-color: var(--gold);
      flex-grow: 1;
      order: 2;
      align-self: flex-end;
      margin: 0 1em;
    }

    &::after {
      content: 'NO #1';
      display: block;
      color: var(--gold);
      order: 3;
    }
  }

  &__joke {
    color: var(--main-grey);
  }
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.thumbs-container {
  margin-bottom: 1em;

  @include breakpoint('medium') {
    margin-bottom: 0;
  }
}

.nav-button {
  background-color: var(--white-two);
  padding: 0.5em;
  border: 1px solid var(--gold);

  &:not(:last-child) {
    margin-right: 1em;
  }

  svg {
    transition: transform 150ms;
  }

  &:first-child:hover svg {
    transform: translateX(-4px);
  }

  &:nth-child(2):hover svg {
    transform: translateX(4px);
  }
}

.top-ten {
  margin-left: 1em;
  border: 1px solid var(--white-three);
  background-color: var(--white-two);
  padding: 1em;
  border-radius: 4px;
  color: var(--main-grey);
  flex-basis: 30%;
  flex-shrink: 0;

  &__item {
    display: block;
    text-decoration: underline;
    color: var(--main-grey);
    margin-bottom: 0.5em;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 1em;
  }
}
