@use '../../styles/utils/breakpoint' as *;

.hero {
  background-image: url('./hero.png');
  background-size: cover;
  display: grid;
  place-items: center;
  padding: 5em 1em;
  text-align: center;

  &__title {
    color: var(--gold);
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 2.5rem;

    @include breakpoint('medium') {
      font-size: 4rem;
    }
  }

  &__sub-title {
    color: var(--white-two);
    font-weight: 500;
    margin-bottom: 2.5em;
  }

  &__input-container {
    position: relative;
  }

  &__search-input {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    width: 100%;
    padding: 1em;
    outline: none;
    color: var(--main-grey);
    font-size: 1rem;
  }

  &__magnifier {
    color: grey;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
  }

  &__search-results {
    background-color: var(--white-two);
    border-radius: 4px;
    text-align: left;
    padding: 0.2em 1em;
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translate(0, calc(100% + 1em));
    box-shadow: 0 0 4px 2px rgba($color: #000000, $alpha: 0.3);
    color: var(--main-grey);
    z-index: 2;

    &::after {
      content: '';
      display: block;
      width: 10px;
      aspect-ratio: 1;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0.5em, -50%) rotate(45deg);
    }
  }
}

.search-item {
  display: block;
  text-decoration: none;
  padding: 0.8em 0;
  color: var(--main-grey);

  &:not(:last-child) {
    border-bottom: 1px solid rgb(218, 218, 218);
  }
}
