:root {
  --main-grey: #303030;
  --gold: #cfb995;
  --white-two: #ffffff;
  --white-three: #ecebe9;
  --light-grey: #f9f9f9;

  --category-1: #ff5b5b;
  --category-2: #57e690;
  --category-3: #ff915b;
  --category-4: #57bde6;
  --category-5: #d0ba93;
  --category-6: #ffbe5b;
  --category-7: #8fe360;
  --category-8: #ffdf5b;

  --red-thumb: #ff6464;
  --red-thumb-hover: #ed0000;
  --green-thumb: #06b706;
  --green-thumb-hover: green;

  --popular-color: #0033da;
  --trending-color: #ff8800;
  --epic-color: #e90000;
}
