.selected-category {
  width: fit-content;
  padding: 0.2em 1em;
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 4px;
    background-color: white;
    aspect-ratio: 1;
    border-radius: 50%;
    display: block;
    margin-right: 0.5em;
  }
}
